# Visual Studio / VSCode
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
*.log

# DLL / artefatos temporários
*.dll
*.pdb

.vs/Fiap.Api.InclusaoDiversidadeEmpresas.slnx/v18/.suo
/.vs/Fiap.Api.InclusaoDiversidadeEmpresas.slnx/v18/.wsuo
/.vs/VSWorkspaceState.json
/.vs/Fiap.Api.InclusaoDiversidadeEmpresas.slnx/v18/.suo
/.vs/Fiap.Api.InclusaoDiversidadeEmpresas.slnx/v18/.futdcache.v2
/.vs/Fiap.Api.InclusaoDiversidadeEmpresas.slnx/v18/DocumentLayout.backup.json
/.vs/Fiap.Api.InclusaoDiversidadeEmpresas.slnx/v18/DocumentLayout.json
